{% extends "base_dashboard.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'ayuda/css/help_widget.css' %}">
  {% block extra_css_with_help %}{% endblock %}
{% endblock %}

{% block content %}
  {% block content_with_help %}{% endblock %}

  <button id="helpToggle"
          class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-4 shadow-lg"
          style="width:60px;height:60px;z-index:1050;" type="button"
          aria-label="Abrir ayuda contextual" title="Abrir ayuda contextual">
    <i class="bi bi-question-lg fs-4"></i>
  </button>

  <div id="helpWidget" class="offcanvas offcanvas-end" tabindex="-1"
       data-page-slug="{% block help_slug %}home{% endblock %}"
       data-guide-url-template="{% url 'help_ai:help_guide' slug='__slug__' %}"
       data-chat-url-template="{% url 'help_ai:chat_ai' slug='__slug__' %}">
    {% include "ergonomia_886/_help_widget_body.html" %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'vendor/marked/marked-15.0.12.min.js' %}"></script>
  <script src="{% static 'vendor/dompurify/purify-3.2.6.min.js' %}"></script>
  <script src="{% static 'ayuda/js/help_widget.js' %}"></script>
  {% block extra_js_with_help %}{% endblock %}
{% endblock %}
